<section>
  <h1>{{ titre|upper }}</h1>
  <p>
       vMembreTimbreAjouter
      </p>
  
  <h3>
       Ajouter Enchere
      </h3>
  <form method="POST" action="membre"enctype="multipart/form-data">
     {# <label>Date de debut</label>
    <input type="date" name="enchere_date_debut" value="{{ enchere.enchere_date_debut }}">
    <span>&nbsp;{{ erreurs.enchere_date_debut }}</span>

    <label>Date de fin</label>
    <input type="date" name="enchere_date_fin" value="{{ enchere.enchere_date_fin }}">
    <span>&nbsp;{{ erreurs.enchere_date_fin }}</span> #}
 {# <label>utilisateur</label>
    <input type="text" name="enchere_" value=" {{ oUtilConn.utilisateur_prenom }} {{ oUtilConn.utilisateur_nom }}">
    <span>&nbsp;{{ erreurs.enchere_date_fin }}</span>  #}
   

    <label>Titre</label>
    <input name="timbre_nom" value="{{ timbre.timbre_nom }}">
    <span>&nbsp;{{ erreurs.timbre_nom }}</span>

    <label>Date</label>
    <input name="timbre_date" value="{{ timbre.timbre_date }}">
    <span>&nbsp;{{ erreurs.timbre_date }}</span>

    {# <label>Utilisateur id</label>
    <input name="timbre_utilisateur_id" value="{{ timbre.timbre_utilisateur_id }}">
    <span>&nbsp; {{ erreurs.timbre_utilisateur_id }}</span> #}

    <label>Tirage</label>
    <input name="timbre_tirage" value="{{ timbre.timbre_tirage }}">
    <span>&nbsp; {{ erreurs.timbre_tirage }}</span>

    <label>Description</label>
    <input name="timbre_description" value="{{ timbre.timbre_description }}">
    <span>&nbsp; {{ erreurs.timbre_description }}</span>

    <label>Prix Plancher</label>
    <input name="timbre_prix_plancher" value="{{ timbre.timbre_prix_plancher }}">
    <span>&nbsp; {{ erreurs.timbre_prix_plancher }}</span>

    <label>Dimension</label>
    <input name="timbre_dimension" value="{{ timbre.timbre_dimension }}">
    <span>&nbsp; {{ erreurs.timbre_dimension }}</span>

    <label>Pays</label>
    <select name="timbre_pays_id">
    {% for pays in pays %}
       <option value="{{ pays.pays_id }}">{{ pays.pays_nom }}</option>
        {% endfor %}
     
    </select>
    {# <input name="timbre_pays_id" value="{{ timbre.timbre_pays_id }}"> #}
    <span>&nbsp; {{ erreurs.timbre_pays_id }}</span>

    {# <label>Enchere debut</label>
    <input name="timbre_enchere_id" value="{{ timbre.timbre_enchere_id }}">
    <span>&nbsp; {{ erreurs.timbre_enchere_id }}</span> #}

    {# <label>Enchere fin</label>
    <input name="enchere_date_fin" value="{{ timbre.enchere_date_fin }}">
    <span>&nbsp; {{ erreurs.enchere_date_fin }}</span> #}

     {# <label>img</label>
    <input type="file" name="img_url"  > #}
    
    
    {# <input type="submit" value="Envoyer">
</form>

<h3>
       Ajouter Image
      </h3>

<form action="admin?entite=img&action=a" enctype="multipart/form-data" method = "post">

   <label>Choisir timbre</label>
    <select name="img_timbre_id">
    {% for timbre in timbres %}
       <option value="{{ timbre.timbre_id }}">{{ timbre.timbre_nom }}</option>
        {% endfor %}
     
    </select>
    
    <span>&nbsp; {{ erreurs.img_timbre_id }}</span> #}
   
    Envoyer de fichier: <input type="file" name="userfile" value="userfile">
    
    <input type="submit" value="envoyer le ficher">
</form>
  </div>
</section>