<main class="ficheproduct">
   <div class="hero">
            <img class="bannier" src="./images/img-stamp/banner5.webp" alt="image orignal">
        
        
        <div class="text-over-image">
            <h1>Bienvenue sur Enchères Stampee</h1>
            
            <a href="#" class="button"> Voir les enchères</a>
        </div>
    </div>
        <div>
            <nav class="nav-fiche">
                <a href="#"><span>&#x23F4; Precedan</span></a>
                <a href="listeEncheres">Revenir au catalogue</a>
                <a href="#">Suivant &#x23F5;</a>
            </nav>   
        </div>
        <div>

            <!-- <main class="main-fiche"> -->
            <article class="fiche">
                
                    <div class="grid_img">
                        <picture class="fiche-image">
                           
                            <img src="./images/img-stamp/{{enchere.img_url}}" alt="Stamp_UK_Penny_Red">
                        </picture>
                            
                        <div class="fiche__img-grid">
                            <picture class="card-image ">
                                <img src="./images/img-stamp/{{enchere.img_url}}" alt="penny_black">  
                            </picture>
                            <picture class="card-image ">
                                <img src="./images/img-stamp/{{enchere.img_url}}" alt="unnamed">  
                            </picture>
                            <picture class="card-image ">
                                <img src="./images/img-stamp/{{enchere.img_url}}" alt="Stamp_UK_Penny_Red"> 
                            </picture>    
                        </div>
                    </div>    
                        
                    <div class="fiche__info">
                        <h2>{{ enchere.timbre_nom }} ({{ enchere.timbre_date }})</h2>
                        <div class="fiche-info__titre">
                            <div  class="fiche-info__general" >
                                <h3>Lot # <Span>{{ enchere.timbre_id }}</Span></h3>
                            </div>    
                        </div>
                        <div class="fiche__description " >
                            <h3>Description</h3>
                            <p> {{ enchere.timbre_description }} 
                            </p>
                            <div class="fiche__description-info">
                                <p>Pays d'origin: <span>{{ enchere.pays_nom }}</span></p> 
                                <p>Certificat: <span>oui</span> </p>
                                <p>Tirage: <span>{{ enchere.timbre_tirage }}</span> </p>
                                <p>Dimensions: <span>{{ enchere.timbre_dimension }}</span> </p>
                                <p>Condition: <span>Bonne</span> </p>
                            </div>            
                        </div>  
                        <div class="fiche-info__actuel card-main">
                            <div>
                                <p>Date de début: <span>{{ enchere.enchere_date_debut }}</span></p>
                                <p>Date de fin: <span>{{ enchere.enchere_date_fin }}</span></p>
                                <p> &#x23F1;Reste: <span> 10j 12:00:33</span></p>    
                            </div>
                            <div >
                                <p>Depart: <span>{{ enchere.timbre_prix_plancher }}</span> </p>
                                <p>Actuel: <span>1200$</span> </p>
                                <p>Quantité de mises: <span>2</span></p>
                            </div>
                        </div>    
                        <div class="card-button fiche__card-button">
                             <form method="POST" action="miser?enchere_id = {{ enchere.enchere_id }}">
                            <label for="mise_prix"  >Mon offre:
                            <input  name="mise_prix" placeholder="($)" value="{{ mise.mise_prix }}"></label>
                            <span>{{ erreurs.mise_prix }}</span>

                            <input type="submit" value="Miser" class="btn">
                        </form>      
                            
                        </div> 
                    </div>             
                
            </article>
        </div>
        
    
  </main>